.notsubmitted {
    background-color: #ff4136;
}
.submitted {
    background-color: #55ab26;
}
.latesubmitted {
    background-color: #f80;
}

.seminar {
    border: solid #dddebc 1px;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
    border-spacing: 50px;
}

.assigntable th.header.c7,
.assigntable th.header.c8 {
    text-align: center;
}